{% extends 'dashboard_base.html' %} {% block content %}{% load static %}

<div class="application">
    <header class="text-center">
        <img class="header-logo" src="{% static 'main.png' %}"/>
        <h5>{{event_name}} 2020 Application</h5>
    </header>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            {% if active_wave %}
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-6">
                        <button type="submit" class="btn btn-lg btn-block btn-login w-100">
                            Submit
                        </button>
                    </div>
                </div>
            {% endif %}
            <br>
        </form>
    </div>

    <script>
        window.onload = function() {
            var node = document.createElement("h6");
            node.style.cssText="color:#4286f3";
            node.innerHTML= "The application is complete! Scroll to the bottom to submit, or answer the following questions to help improve the event.<br>";
            document.getElementById("id_learner_pack").parentElement.appendChild(node);
            document.getElementById("id_major").style.cssText="height:90px";
            document.getElementById("id_minor").style.cssText = "height:90px";
            document.getElementById("id_technology_experience").style.cssText = "height:90px";
        };
    </script>

{% endblock %}
